body{
    background-color:rgb(0, 102, 255);
}
.navbar-brand{
    position:relative;
    left:1%;
}
.carousel{
    position: relative;
    margin-top: 5%;
}

.card{
    top:10%;
    left: 15%;
    width: 70%;
    height: 50%;
}
.imagen{
    position: relative;
    
}
.img-arboles{
    left:10%;
}
.img-pasto{
    left:10%;
}
.img-calle{
    left:10%;
}
